#root {
  text-align: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.body {
  background-color: rgb(36, 36, 36);
}

a {
  margin: 10px;
  color: white;
}
/* NavBar */

.navbar{
  color: rgb(36, 36, 36);
  margin: 0;
}
.LinkNavbar{
  text-decoration: none;
  color: rgb(36, 36, 36);

}

/* SPINNERS */

.spinners {
  margin-top: 50px;
}

/* HOME */

.allVinyls-container {
  background-color:  rgb(36, 36, 36);
  height: 100vh;
  width: 100vw;
  padding-top: 50px;
  color: white;
}


.searchAndBtn{

display: flex;
justify-content: center;
margin-top: 24px;
}

.search-input{
  width: 500px;
  
}

.genre-btn {
  margin: 24px 4px;
}

.album-card {
  width: 500px;
  background-color: rgb(36, 36, 36);
  color: whitesmoke;
  border-radius: 16px;
  margin: 0 auto 10px;
  padding: 24px;
  background-color: rgb(173, 173, 173);
}

.album-title {
  /* margin: 8px;
  background-color:rgb(191, 191, 191);
  border-radius: 10px; */
}

.album-image {
  width: 200px;
  border-radius: 16px;
 
}

.album-image-container {
  padding: 24px;
}

.vinyl-card-btn {
  margin: 24px 24px;
}

.album-props{
 margin: 24px;
}

/* VINYL DETAILS */

.details-father{
  background-color: rgb(36, 36, 36);
  color: white
}

.album-details-image{
  width: 350px;
  margin-top: 24px;
}