#root {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  margin: 10px;
  color: white;
}
/* NavBar */

.navbar{
  color: rgb(17, 16, 16);
  margin: 0;
}
.LinkNavbar{
  text-decoration: none;
  color: rgb(47, 46, 46);

}

/* SPINNERS */

.spinners {
  margin-top: 50px;
}

